<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- img src=”your website’s URL/folder-name/image-file-name.jpg”
    isse  -->
    <form action ='/upload' method="POST" enctype="multipart/form-data">
        <label for id="file1">UPLOAD FILE HERE:</label>
        <input type="file" id="file" name="file" accept="image/*" />
        <input type="submit" value="click here to upload" />



    </form>
    
</body>
</html>